body {
  font-family: 'Crimson Pro', serif;
  background: url('../images/bg.jpg') fixed top center no-repeat #000;
  background-size: cover;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body::-webkit-scrollbar,
#chapter_selection::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track,
#chapter_selection::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c1c1c;
}

body::-webkit-scrollbar-thumb,
#chapter_selection::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: #e45f60;
}

a:hover {
  color: #fff;
}

.main_title {
  text-transform: uppercase;
  font-size: 200%;
  letter-spacing: 4px;
}

.chapter_title {
  font-weight: 400;
  font-size: 150%;
  letter-spacing: 1px;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.modal_open {
  opacity: 0.8;
}

.modal_open:hover {
  opacity: 1;
}
.modal_open img {
  max-height: 35px;
}

.close-modal {
  display: none;
}

.modal {
  line-height: 1.4em;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-style: italic;
  color: #ddd;
  background-color: #1c1c1c;
  border: 1px solid #f5dea7;
  border-radius: 2px;
  padding: 0.8em;
}

.modal p {
  margin: 0 0 1em 0;
}

.modal p:last-of-type {
  margin: 0;
}

.modal_close {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.8;
}

.modal_close:hover {
  opacity: 1;
}

.modal_close img {
  max-height: 25px;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  background: linear-gradient(#010101, #1c1c1c);
  padding: 10px 20px;
  margin: 0 0 2em 0;
  border-bottom: 1px solid #555555;
}

header.desktop {
  display: none;
}

.logo {
  max-height: 35px;
  margin-right: 10px;
}

.logo_text {
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.nav {
  margin-left: auto;
}

.hamburger {
  max-height: 25px;
  display: none;
}

.mobile_nav {
  display: none;
  /* display: flex; */
  flex-direction: column;
  margin: 0 0 1em 0;
}

.mobile_nav li {
  text-align: right;
  display: flex;
  padding: 0.7em 1em;
  font-size: 1.2em;
}

.mobile_nav li a {
  width: 100%;
  opacity: 1;
}

.chapter_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  margin: 0 0 2em 0;
  z-index: 1;
}

.chapter_navigation a {
  width: 100%;
  font-size: 1.2em;
  border-bottom: 1px solid #555555;
  text-decoration: none;
  color: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #1c1c1c;
  padding: 0.5em 0.7em;
}

.chapter_navigation a:hover {
  color: #f5f5f5;
}

.chapter_navigation span {
  margin: 0 auto 0 0;
}

.chapter_navigation a img {
  max-height: 15px;
  margin: 0 0.5em 0 0;
  opacity: 0.8;
}

.chapter_navigation a:hover img {
  opacity: 1;
}

.down_arrow,
.up_arrow {
  max-width: 15px;
}

#chapter_selection {
  display: none;
  border-bottom: 1px solid #555555;
  max-height: 120px;
  overflow-y: scroll;
  z-index: 1;
}

#chapter_selection.show {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#chapter_selection li {
  border-bottom: 1px solid #555555;
}

#chapter_selection li:last-of-type {
  border: none;
}

#chapter_selection li:nth-child(odd) a {
  background-color: #272727;
}

#chapter_selection li a {
  border-top: none;
  border-bottom: none;
}

#chapter_selection li:hover a {
  background-color: #e45f60;
}

.chapter {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.7em;
}

.chapter_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #f5f5f5;
  padding: 0 0 0.5em 0;
  margin: 0 0 2em 0;
}

.chapter_title {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

.chapter_header a img {
  max-height: 25px;
  width: auto;
}

.chapter_content p {
  line-height: 1.3em;
  letter-spacing: 1px;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.chapter_content img {
  width: 100%;
  margin: 0 0 1em 0;
}

.chapter_content p:first-of-type strong::first-letter {
  font-size: 300%;
  color: #e45f60;
}

.chapter_content q {
  display: block;
  font-style: italic;
  font-size: 2em;
  margin: 0.8em 0 0.8em 0;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
  color: #f5dea7;
}

.chapter_content ol,
.chapter_content ul {
  max-width: 800px;
  margin: 0 0 1em 1em;
}

.chapter_content li {
  letter-spacing: 1px;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.chapter_content ol li {
  list-style: lower-roman;
  list-style-position: inside;
}

.chapter_content ul li {
  list-style-type: circle;
  list-style-position: inside;
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  header.desktop {
    display: flex;
    background: none;
    border: none;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1em 0;
  }
  header.desktop .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .button_container {
    padding: 7px 15px 7px 0;
    border-bottom-left-radius: 20px;
    background-color: rgb(27, 27, 27);
  }
  .buttons a {
    margin: 0 0 0 20px;
    opacity: 0.8;
  }
  .buttons a:hover {
    opacity: 1;
  }
  .buttons img {
    max-height: 35px;
    width: auto;
  }
  header.desktop h1 {
    text-align: center;
    line-height: 2em;
  }
  .logo {
    max-height: 175px;
  }
  .chapter_navigation a {
    border: 1px solid #555555;
  }
  img.left_thumb {
    width: initial;
    float: left;
    margin: 0 1em 1em 0;
  }

  img.right_thumb {
    width: initial;
    float: right;
    margin: 0 0 1em 1em;
  }
  img.banner_thumb {
    width: 100%;
    margin: 0 0 1em 0;
  }
}
